$olive:#698c81;
$oliveLigth:#93aea6;
$bg-color:#edf0eb;
$comlimentary-color: #8c6974;

body{
    font-family: 'Roboto', sans-serif;
}
h1{
	color:#698c81;
}
/* .newPasteForm{}
.newPasteForm form{}
.formUsername{}
.formIcon{}
.formText{}
.formSubmit{}
.recentPastes{}
.recentPastes ul{}
.recentPastes ul li{}
.recentPastes ul li a{} 
.recentPastesHeader{}*/